<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/sayedhashimi/data/Dropbox/Microsoft/xamarin/customer-research/vsmac-logo-with-name.png</key>
	<data>
	Ym9va3QDAAAAAAQQMAAAAPRsGXP/89PH9fr9cq4yESHY59NOwUcTx8ROWx7/FSIScAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAMAAAAAQEAAHNheWVkaGFzaGltaQQA
	AAABAQAAZGF0YQcAAAABAQAARHJvcGJveAAJAAAAAQEAAE1pY3Jvc29mdAAAAAcAAAAB
	AQAAeGFtYXJpbgARAAAAAQEAAGN1c3RvbWVyLXJlc2VhcmNoAAAAGAAAAAEBAAB2c21h
	Yy1sb2dvLXdpdGgtbmFtZS5wbmcgAAAAAQYAABAAAAAgAAAANAAAAEAAAABQAAAAZAAA
	AHQAAACQAAAACAAAAAQDAAD/AQsAAAAAAAgAAAAEAwAAoRMRAAAAAAAIAAAABAMAAOmD
	bgAAAAAACAAAAAQDAAATjW4AAAAAAAgAAAAEAwAAW8OwAAAAAAAIAAAABAMAAGHDsAAA
	AAAACAAAAAQDAABQldYBAAAAAAgAAAAEAwAAvOdbAgAAAAAgAAAAAQYAANgAAADoAAAA
	+AAAAAgBAAAYAQAAKAEAADgBAABIAQAACAAAAAAEAABBwMO0krqMVBgAAAABAgAAAQAA
	AAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAGAAAAAAAAAAQAAAADAwAA9QEAAAgA
	AAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAJAgaHQAAAAI
	AAAAAAQAAEG/oRp0jIuBJAAAAAEBAABDNzQzQzczNi1FODdDLTRDRTAtOTFDQy0zQTg0
	OEIyNTVENTUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAA
	AAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAsAAAAAAAAAAFEAAAWAEAAAAA
	AAAQEAAAkAEAAAAAAABAEAAAgAEAAAAAAAACIAAAXAIAAAAAAAAFIAAAzAEAAAAAAAAQ
	IAAA3AEAAAAAAAARIAAAEAIAAAAAAAASIAAA8AEAAAAAAAATIAAAAAIAAAAAAAAgIAAA
	PAIAAAAAAAAwIAAAaAIAAAAAAAABwAAAsAEAAAAAAAARwAAAIAAAAAAAAAASwAAAwAEA
	AAAAAAAQ0AAABAAAAAAAAAA=
	</data>
</dict>
</plist>
